<!DOCTYPE html>
<html>
  <head>

    <title>Christagram</title>
    <%= csrf_meta_tags %>
<script type='text/javascript'>
window.homepage="<%= image_url('homepage_img.png')%>"
</script>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
<%= stylesheet_link_tag    'application', media: 'all' %>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
